<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div style="color: #2872ef;font-size: 25px;font-weight: bold">Hello {{username}},</div>
    <div>
        <p>Your password reset code is.</p>
        <p><strong>{{code}}</strong></p>
        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Husain Bikes Team</strong></p>
        </div>
    </div>
</div>