<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            font-family: gotham-medium;
        }
    </style>
</head>

<body>
    <header style="background-color: #f0f0fd; padding: 15px">
        <div style="text-align: center">
            Husain Bikes
        </div>
    </header>
    {{{body}}}
</body>

</html>